@{
  Layout = "_Layout";
}
@model HairSalon.Models.Stylist
@using HairSalon.Models

<h1>Stylist @Html.DisplayFor(model => model.Name)</h1>

@if (Model.Clients.Count == 0)
{
  <p>There are no clients.</p>
}
else if (Model.Clients.Count != 0)
{
  <h3>Clients: </h3>
  <ul class="list-unstyled">
    @foreach (Client client in Model.Clients)
    {
      <li>@Html.ActionLink($"{client.Name}", "Details", "Clients", new { id = client.ClientId })</li>
    }
  </ul>
}
else if (Model.Appointments.Count == 0)
{
  <h3>Appointments: </h3>
  <p>There are no appointments.</p>
}
else if (Model.Appointments.Count != 0)
{
  <ul class="list-unstyled">
    @foreach (Appointment appointment in Model.Appointments)
    {
      <li>@Html.ActionLink($"{appointment.DateTime}", "Details", "Appointments", new { id = appointment.AppointmentId })</li>
      <li>@appointment.Client.Name</li>
    }
  </ul>
}

<p>@Html.ActionLink("Add Client", "Create", "Clients")</p>
<p>@Html.ActionLink("Add Appointment", "Create", "Appointments")</p>
<p>@Html.ActionLink($"Edit Stylist", "Edit", new { id = Model.StylistId })</p>
@using (Html.BeginForm("Delete", "Stylists", routeValues: new { id = Model.StylistId }))
{
  <input type="Submit" value="Delete" class="">
}