@{
  Layout = "_Layout";
}
@model HairSalon.Models.Appointment

<h1>Edit Appointment</h1>
@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.AppointmentId)

  @Html.LabelFor(model => model.DateTime)
  @Html.EditorFor(model => model.DateTime, new { type="datetime-local" })

  @Html.LabelFor(model => model.Price)
  @Html.EditorFor(model => model.Price, new { type="number", min="0" })

  @Html.LabelFor(model => model.Client)
  @Html.DropDownList("ClientId")

  @Html.LabelFor(model => model.Stylist)
  @Html.DropDownList("StylistId")

  <input type="submit" value="Save Changes">
}