@{
  Layout = "_Layout";
}
@model HairSalon.Models.Appointment
<div class="w-2/3 flex flex-col items-center">

  <h1 class="text-5xl py-10">Edit Appointment</h1>
  @using (Html.BeginForm(FormMethod.Post, new { @class="text-lg capitalize text-center shadow-inner flex flex-col p-10"}))
  {
    @Html.HiddenFor(model => model.AppointmentId)
    <div class="py-5 space-x-3">
      @Html.LabelFor(model => model.DateTime, new {@class="font-semibold"})
      @Html.TextBoxFor(model => model.DateTime, new { type="datetime-local", @class="py-1 rounded-xl text-center border-0 border-b-2 shadow-sm hover:border-slate-400 outline-slate-50 text-slate-700 w-2/3", placeholder="Pick Date"})
    </div>
    <div class="py-5 space-x-3">
      @Html.LabelFor(model => model.Price, new {@class="font-semibold"})
      @Html.TextBoxFor(model => model.Price, new { type="number", min="0", @class="border rounded-xl text-center border-slate-300 shadow-sm hover:border-slate-400 outline-slate-300 text-slate-500", placeholder="Enter Price"})
    </div>
    <div class="py-5 space-x-3">
      @Html.LabelFor(model => model.Client, new {@class="font-semibold"})
      @Html.DropDownList("ClientId", null, new {@class=" rounded-xl text-center border-0 border-b-2 shadow-sm hover:border-slate-400 outline-slate-50 text-slate-700 w-2/3 py-1"})
    </div>
    <div class="py-5 space-x-3">
      @Html.LabelFor(model => model.Stylist, new {@class="font-semibold"})
      @Html.DropDownList("StylistId", null, new {@class=" rounded-xl text-center border-0 border-b-2 shadow-sm hover:border-slate-400 outline-slate-50 text-slate-700 w-2/3 py-1"})
    </div>
    <div>
      <input type="submit" value="Save Changes" class="text-md border rounded-full mt-5 px-3 py-1 bg-slate-50 hover:bg-slate-300 hover:border-slate-300 border-slate-50 hover:text-white shadow-md hover:cursor-pointer">
    </div>
  }
</div>