@{
  Layout="_Layout";
}
@model HairSalon.Models.Client
@using HairSalon.Models
<div class="w-2/3 flex flex-col items-center">
  @* <h1 class="text-5xl py-10">Client</h1> *@
  <div class="flex text-lg capitalize shadow-inner w-full text-center overflow-auto">
    <div class="w-full">
      <h3 class="text-3xl py-5 font-light">Client</h3>
      <p>@Html.DisplayNameFor(model => model.Name) : @Html.DisplayFor(model => model.Name)</p>
    </div>
    <div class="w-full">
      <h3 class="text-3xl py-5 font-light border-t-2 border-neutral-50">Appointments: </h3>
      @if (Model.Appointments.Count == 0)
      {
        <p>There are no appointments.</p>
      }
      else
      {
        <table class="mx-auto w-full shadow-inner">
          <tr>
            <th class="py-2 font-light border-r-2">Appointment Time</th>
            <th class="font-light">Client</th>
          </tr>
          @foreach (Appointment appointment in Model.Appointments)
          {
            <tr class="hover:bg-slate-50 hover:font-semibold">
              <td class="py-2">@Html.ActionLink($"{appointment.DateTime}", "Details", "Appointments", new { id = appointment.AppointmentId })</td>
              <td>@appointment.Stylist.Name</td>
            </tr>
          }
        </table>
      }
    </div>
  </div>
  <div class="flex gap-3 px-4 py-2">
    <p class="text-md border rounded-full mt-5 px-3 py-1 bg-slate-50 hover:bg-slate-300 hover:border-slate-300 border-slate-50 hover:text-white shadow-md">@Html.ActionLink($"Edit Client", "Edit", new { id = Model.ClientId })</p>
    <p class="text-md border rounded-full mt-5 px-3 py-1 bg-slate-50 hover:bg-slate-300 hover:border-slate-300 border-slate-50 hover:text-white shadow-md">@Html.ActionLink("Add Appointment", "Create", "Appointments")</p>
    @using (Html.BeginForm("Delete", "Clients", routeValues: new { id = Model.ClientId }))
    {
      <input type="submit" value="Delete" class="text-md border rounded-full mt-5 px-3 py-1 bg-slate-50 hover:bg-slate-300 hover:border-slate-300 border-slate-50 hover:text-white shadow-md">
    }
  </div>
</div>